<div class="container">
    <h1>About Me</h1>
    <p>Hello there! I hope you are having a wonderful day. This website is created to showcase my projects as I navigate the field of web developing. I am not yet good but I am hungry for learning. I hope that with my projects, you also get to learn something as well. Come and learn with me. Stay tune for more projects!</p>
    
    
    <p>I hope you like my presentation. It is just a simple website but please know that I did my utmost best in creating this website while learning at the same time. I know that I still have a long way to go but i know that with perseverance and hardwork, I can get there eventually. It is nice to meet you all!</p>
</div>
