
<div class="jumbotron text-center" style="margin-bottom:0">
<br>
  <h1 style="color:#d63384">Sheila Garduque</h1>
  <p>I am an aspiring <strong style="color:#198754">Web Developer</strong> from the Philippines</p> 
 <div>
  <%= link_to "New project", new_post_path %> |
  <%= link_to "All projects", posts_path %>
</div>
<div>
<%= image_tag ("logos/flower.png") %>
</div>
</div>
