<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Sheila Garduque</h1>
  <p>I am an aspiring <strong>Web Developer</strong> from the Philippines</p> 
 <div>
  <%= link_to "New project", new_post_path %> |
  <%= link_to "All projects", posts_path %>
</div>
</div>s
