<div class="container">
<h1 style="color:#d63384">Editing Project</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show more...", @post %> |
  <%= link_to "Back to projects", posts_path %>
</div>
</div>
