<p style="color: green"><%= notice %></p>
<div class="container">
<h1>Projects</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show more...", post %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_post_path %>
</div>