<div class="container" style="color:#d63384">
<h1 style="color:#d63384">New Project</h1>
<div class="container" style="color:#198754">

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to projects", posts_path %>
</div>
</div>
